<div class="container">
  <div class="about">
    <div class="row">
      <h1 class="col-sm-12 col-md-3 display-4">About</h1>
      <p class="col-sm-12 col-md-9 lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique
        quo accusamus magni rerum dicta totam, tenetur, cum quos laboriosam
        nobis illum maiores, reprehenderit repellendus? Provident aut eius neque
        officia hic praesentium voluptas quasi libero quae, dolorum molestiae,
        corrupti assumenda obcaecati porro! Aliquid voluptatibus cum suscipit
        iure possimus quibusdam soluta illo, cupiditate laudantium nemo ea,
        eaque commodi nam, dignissimos iste distinctio repudiandae vitae. Est
        modi perspiciatis iste mollitia porro officiis repellendus sapiente?
        Dolorem esse eos non debitis. Doloribus, nostrum perferendis? Quo enim
        cum est? Qui officia ad, praesentium laudantium sapiente minus sit
        itaque eos velit consequuntur in nobis earum recusandae.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
        exercitationem ea ipsum eum, quibusdam dolore autem nulla? Adipisci
        alias libero deserunt rem aut tempore sit fuga quaerat architecto beatae
        dolor corporis consequatur quod esse, voluptatibus omnis! Officia
        nostrum aliquid aut!
      </p>
    </div>
  </div>
</div>
