<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="K1" />
      <p class="card-header">
        <b>The K326</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="K2" />
      <p class="card-header">
        <b>The K384</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="K3" />
      <p class="card-header">
        <b>The K399</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>
