<div class="container">
  <div class="contact">
    <div class="row">
      <h1 class="col-sm-12 col-md-3 display-4">Contact Us</h1>
      <p class="col-sm-12 col-md-9 lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique
        quo accusamus magni rerum dicta totam, tenetur, cum quos laboriosam
        nobis illum maiores, reprehenderit repellendus? Provident aut eius neque
        officia hic praesentium voluptas quasi libero quae, dolorum molestiae,
        corrupti assumenda obcaecati porro! Aliquid voluptatibus cum suscipit
        iure possimus quibusdam soluta illo, cupiditate laudantium nemo ea,
        eaque commodi nam, dignissimos iste distinctio repudiandae vitae.
      </p>
      <form class="col-sm-12">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Enter your First name..."
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputName2">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="inputName2"
              placeholder="Enter your Last name..."
            />
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your Message</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-dark btn-contact">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
