<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="S1" />
      <p class="card-header">
        <b>Leather Strap</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="S2" />
      <p class="card-header">
        <b>Rubber Strap</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>
