<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="A1" />
      <p class="card-header">
        <b>The A1</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="A2" />
      <p class="card-header">
        <b>The A2</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img" [src]="A3" />
      <p class="card-header">
        <b>The A3</b>
        <br />
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>
